USE [master]
GO
/****** Object:  Database [CoinApi]    Script Date: 8-3-2018 16:55:06 ******/
CREATE DATABASE [CoinApi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CoinApi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CoinApi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CoinApi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\CoinApi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CoinApi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CoinApi]
GO
USE [CoinApi]
GO
/****** Object:  Table [dbo].[Pairs]    Script Date: 8-3-2018 16:55:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pairs](
	[asset_id_base] [varchar](50) NULL,
	[asset_id_quote] [varchar](50) NULL,
	[count] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SymbolsDb]    Script Date: 8-3-2018 16:55:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SymbolsDb](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[symbol_id] [varchar](250) NULL,
	[exchange_id] [varchar](50) NULL,
	[symbol_type] [varchar](50) NULL,
	[asset_id_base] [varchar](50) NULL,
	[asset_id_quote] [varchar](50) NULL,
 CONSTRAINT [PK_Symbols] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
